@model SibersTestProject.Model.Gallery.GalleryCreate
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<h3>@ViewBag.StateCreate</h3>
@using (Html.BeginForm("Create", "Gallery", FormMethod.Post))
{
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)

    @Html.LabelFor(m => m.Description)
    @Html.EditorFor(m => m.Description)

    @Html.LabelFor(m => m.IsPublic)
    @Html.EditorFor(m => m.IsPublic)


    <input type="submit" value="Create" />
}
