@model IEnumerable<SibersTestProject.Model.Photo.PhotoView>
@{
    ViewBag.Title = "PhotoList";
}
<h2>PhotoList</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>*@
            <td>
                <img class="previewImage" src="/Home/Image/@item.EntityId" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Delete photo", "Delete", new { id = item.EntityId }) | 
                @Html.ActionLink("Edit photos", "Edit", new { id = item.EntityId })                
            </td>
        </tr>
    }
</table>
