@model IEnumerable<SibersTestProject.Model.Photo.PhotoView>
@{
    ViewBag.Title = "PhotoList";
}
<h2>PhotoList</h2>
<table class="table">
    <tr>
        <th>
            @Html.Label("Image")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="/Home/Image/Small/@item.EntityId" class="img-responsive" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Open", "Open", new { id = item.EntityId }) | 
                @Html.ActionLink("Edit", "Edit", new { id = item.EntityId }) | 
                @Html.ActionLink("Save", "Save", new { id = item.EntityId }) | 
                @Html.ActionLink("Delete", "Delete", new { id = item.EntityId })             
            </td>
        </tr>
    }
</table>
